html, body{
    margin:0;
    height:100%;
    background-color: #e8e1df;
    font-family: 'Roboto', sans-serif;
  }

/* nav bar */
.navbar{
	display:flex;
	background-color: #323232;
	margin-top:0.5%;
	margin-left:20%;
	margin-right:20%;
}
.navbar a{
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar a:hover {
	background-color: #111;
}
/* !!! change the class name here. */
.Comparison1{
	background-color: #7685f5;
}

.header{
	padding:0;
	/* background-color:	#f5a776; */
	height:15%;
	width:100%;
	display:table;
}
span{
	display:table-cell;
	margin:0;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
}

.content{
	background-color:#f3f0ef;
	margin-left:20%;
	margin-right:20%;
	margin-top:0.5%;
}

#case{
	padding-top:3%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3%;
}
li{
	margin-bottom: 1.5%;
}

.feedback{
    /* change here */
    background-color: #dad8d7;
	border-radius: 5px;
}
.txa{
	margin: 12px;
}

button {
	background-color:#7392a6; 
	border: none;
	border-radius: 5px;
	margin-left: 12px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

  .slider {
	-webkit-appearance: none;
	width: 80%;
	margin-left: 10%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
  }
/* adjustable page */
@media (max-width: 1200px) {
	.navbar {
		flex-direction: column;
		margin:0;
    }
    
	.content{
		margin:0;
	}
}
